<!DOCTYPE html>
<html data-ng-app="votesApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Entelgy Votes WebApp</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-no-captcha.min.js"></script>
   
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="campaign">The Entelgy Votes WebApp</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row top-buffer">
            <div class="col-xs-8 col-xs-offset-2">
                <div ng-controller="CampaignController">
                <h3>Campanha : {{campaign.name}}</h3>
                <p>Escolha e vote</p>
                    <table class="table movietable">
                        <tr ng-repeat="candidate in candidates">
                            <td>
                                {{candidate.name}}
                                <img src="{{candidate.url}}" height="60" width="60">
                            </td>
                            <td>
                                <button ng-click="vote(candidate.name,campaign.id)" class="btn btn-info pull-right my-button">votar</button>
                            </td>
                        </tr>
                    </table>
                    <no-captcha
                        expired-callback="expiredCallback"
                        g-recaptcha-response="gRecaptchaResponse"
                        theme='light'></no-captcha>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/angular-resource.min.js"></script> 
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js">
    </script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>-->
</body>
</html>