<!DOCTYPE html>
<html data-ng-app="votesApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Entelgy Votes WebApp</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-no-captcha.min.js"></script>
   
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="campaign">Entelgy Votes WebApp</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row top-buffer">
            <div class="col-xs-8 col-xs-offset-2">
                <div ng-controller="ResultController">
                <h3>Confirmação de voto realizada ;)</h3>
                <p>Houveram {{sumary.sum}} votos. Confira o resultado até o momento.</p>
	                <table class="table movietable">
                        <tr ng-repeat="parcial in sumary.result">
	                        <td>
	                            {{parcial.candidate}}
	                        </td>
	                        <td>
	                           Total : {{parcial.total}}
	                        </td>
                            <td>
                               Percentual : {{(parcial.total / sumary.sum)*100 | number:2}} %
                            </td>
                    	</tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>